<style>
* {
	margin: 0;
	padding: 0;
}
.template1 {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 30px 100px;
	margin: 0 auto;
	height: 100vh;
}
.template1-h1 {
	padding-bottom: 30px;
}
.template1-dl {
	list-style: none;
	width: 500px;
}
.template1-div {
	display: flex;
	padding: 20px 0;
	width: 100%;
}
.template1-dt {
	padding: 5px 10px;
	color: #000;
	width: 153px;
}
.template1-div-name {
	display: flex;
	justify-content: space-between;
}
.template1-div-name .template1-name {
	display: flex;
	justify-content: space-between;
}
.template1-div-name input[type="text"] {
	display: block;
 	border: none;
 	border: 1px solid #2b2b2b;
 	background-color: #fff;
 	padding: 5px 5px 5px 10px;
 	line-height: 2em;
 	border-radius: 3px;
}
.template1-div input[type="text"],
.template1-div input[type="number"],
.template1-div input[type="password"] {
	display: block;
 	border: none;
 	border: 1px solid #2b2b2b;
 	background-color: #fff;
 	padding: 5px 5px 5px 10px;
 	line-height: 2em;
 	border-radius: 3px;
 	width: 330px;
}
.template1-div button {
	display: block;
	background-color: skyblue;
	border: none;
	line-height: ;
	text-align: center;
	line-height: 3em;
	width: 100%;
	color: #fff;
	font-size: 1em;
	border-radius: 3px;
}
.template1-div button:hover {
	transition: .3s;
	background-color: #00afcc;
}

</style>
<body>
	<div class="template1">
		<div class="template1-inner">
			<h1 class="template1-h1">入力フォーム</h1>
			<form method="post">
				<dl class="template1-dl">
					<div class="template1-div-name">
						<dt class="template1-dt"><label>氏名</label></dt>
						<div class="template1-name">
							<dd><input type="text" name="name" value="" placeholder="例) 谷"></dd>
							<dd><input type="text" name="name" value="" placeholder="例) 勝"></dd>
						</div>
					</div>
					<div class="template1-div">
						<dt class="template1-dt"><label>年齢</label></dt>
						<dd><input type="number" name="name" value=""></dd>
					</div>
					<div class="template1-div">
						<dt class="template1-dt"><label>ユーザーID</label></dt>
						<dd><input type="text" name="user_id" value="" placeholder="例) 8~16桁"></dd>
					</div>
					<div class="template1-div">
						<dt class="template1-dt"><label>パスワード</label></dt>
						<dd><input type="password" name="pw" value=""></dd>
					</div>
					<div class="template1-div">
						<dt class="template1-dt"><label>メールアドレス</label></dt>
						<dd><input type="text" name="email" value="" placeholder="例) hal@co.com"></dd>
					</div>
					<div class="template1-div"><button type="submit" name="btn" value="btn">送信</button></div>
				</dl>
			</form>
		</div>
	</div>
</body>